
<div class="container">
  <form action="">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>First Name*</mat-label>
        <input matInput placeholder="Please enter first name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Enter First Name</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Last Name*</mat-label>
        <input matInput placeholder="Please enter last name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Enter Last Name</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>UserName*</mat-label>
        <input matInput placeholder="Please enter username">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Enter UserName</mat-hint>
      </mat-form-field>
    </p>
  </form>
</div>







